<%require 'pry'%>
<% if logged_in?%>

<h1><%=@topic.text%></h1>
<h4>Posts:</h4>
<ul>
  <%@topic.posts.each do |the_post|%>
  <li><%=the_post.text%></li>
  <%end%>
</ul>
 <br>
 

<form action="/posts" method="POST">

  <br>
   
  
  <label>Add post to </label>
   <input type="hidden" name="post[topic_id]" value="<%=@topic.id%>" id="<%=@topic.id%>"><%=@topic.text%></input>
<input type="hidden" name="post[user_id]" value="<%=current_user.id%>"></input>
  <br>
  <input type="text" name="post[text]" id="topic_text">
  <br>
  <input type="submit" value="Create Post">
</form>


<form action="/topics/<%=@topic.id%>" method="POST">
 <br>
 <label>Update Topic:</label>
  </br>
  <input type="hidden" name="topic[user_id]" value="<%=current_user.id%>"></input>
 <label>Text:</label>
  <input type="text" name="topic[text]" id="topic_text" value="<%=@topic.text%>">
    <br>  <input type="submit" value="Update Topic">
</br>
  <p><a href="/topics/<%=@topic.id%>/edit">Edit Topic</a></p>
<p><a href="/topics">Go Back</a></p>
<p><a href="/">Return To Home Page</a></p>
<% else %>
<% redirect to "/failure" %>
<% end %>