<%require 'pry'%>
<% if logged_in?%>

    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
   

    <!--The method attribute tells the form what kind of request should be fired to the server when the submit button is clicked. In general, forms use POST request, because it is 'posting' data to the server.-->

    <!--The action attribute tells the form what specific route the post request should be sent to. In this case, we're posting to a route called /food-->

    <form action="/posts/<%=@topic.id%>" method="POST">
      <label>Choose a commit to edit:</label>
       <br>
     <% @posts.each do |my_post| %>
    
  <input type="radio" name="post[post_id]" value="<%=my_post.id%>" ></input>
    <label><%=my_post.text%></label>
     <br>
  <% end %>
     <br>
    <input type="hidden" value="patch" name="_method">
       <input type="text" name="post[text]"></input>
        <br>
      <input type="submit" value="Update Post">
    </form>
  </body>
  
  </form>
 <br><br>
  <form action="/posts/delete/<%=@topic.id%>" method="POST">
    
      <label>Choose a commit to edit:</label>
       <br>
     <% @posts.each do |my_post| %>
 <!--name="delete[id]"  -->
  <input type="radio"  name="delete[id]"  value="<%=my_post.id%>"  ></input>
  <!--Use _method magic to allow put/delete forms in browsers that don't support it-->
  <input name="_method" type="hidden" value="delete">
    <label><%=my_post.text%></label>
     <br>
  <% end %>
     
     <br>
     
      <input type="submit" value="Delete">
    </form>
  </body>
  
  </form>
   <%#binding.pry%>
   <br>
   <p><a href="/topics/<%=@topic.id%>">Done</a></p>
<% else %>
<% redirect to "/failure" %>
<% end %>